.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.container img {
    width: 210px;
}
  
.form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 40px 36px;
    border: 1px solid #4B4B4B;
    border-radius: 18px;
}
  
.form input {
    height: 38px;
    width: 300px;
    padding: 0 8px;
    background-color: #454545;
    border-radius: 8px;
    border: 1px solid #c1c1c1;
}

  
.form button {
    height: 42px;
    text-transform: uppercase;
    background: #525252;
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
    transition: all 0.3s;
}



.form button:hover {
    background: #223325;
}